{% extends 'base.html' %}

{% block content %}

<h1 class="site__header">The Greatest Generation Presents:</h1>

<section class="lcars-group">
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--top">
        {% include "lcars/_lcars_filler.html" with color="orange-peel" top_left_inner_elbow=True only %}
    </div>
    <div class="lcars-group__left-bar">
        {% include "lcars/_lcars_filler.html" with color="orange-peel" top_left_outer_elbow=True only %}
        {% include "lcars/_lcars_filler.html" with color="lavender-purple" label="ALL I DO IS BITS" only %}
        {% include "lcars/_lcars_filler.html" with color="melrose" label="MAIN COMPUTER CORE" only %}
        {% include "lcars/_lcars_filler.html" with color="orange-peel" bottom_left_outer_elbow=True label="DICK JOKES" only %}
    </div>
    <div class="lcars-group__content">
        <h2 class="lcars-group__content-header">
            <span class="no-break">GAME OF BUTTHOLES</span> •
            <span class="no-break">THE WILL OF THE PROPHETS</span>
        </h2>

        {{ board }}

        <p class="lcars-group__text">
            Game of Buttholes: The Will of the Prophets is a board game played by the hosts of
            <a href="http://gagh.biz" target="_top">The Greatest Generation</a>, a Star Trek podcast by two guys who are
            a bit embarrassed to have a Star Trek podcast.
        </p>
    </div>
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--bottom">
        {% include "lcars/_lcars_filler.html" with color="orange-peel" bottom_left_inner_elbow=True only %}
    </div>
</section>

<section class="lcars-group">
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--top">
        {% include "lcars/_lcars_filler.html" with color="orange-peel" top_left_inner_elbow=True only %}
    </div>
    <div class="lcars-group__left-bar">
        {% include "lcars/_lcars_filler.html" with color="orange-peel" top_left_outer_elbow=True only %}
        {% include "lcars/_lcars_filler.html" with color="melrose" label="BAD BIT MOMENTS" only %}
        {% include "lcars/_lcars_filler.html" with color="lavender-purple" label="MORNHAMMER" only %}
        {% include "lcars/_lcars_filler.html" with color="dodger-blue" bottom_left_outer_elbow=True label="FUCK BOKAI" only %}
    </div>
    <div class="lcars-group__content">
        {% include "will_of_the_prophets/board/_legend.html" %}
    </div>
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--bottom">
        {% include "lcars/_lcars_filler.html" with color="dodger-blue" bottom_left_inner_elbow=True only %}
    </div>
</section>

{% include "will_of_the_prophets/_footer.html" %}

{% endblock %}
