{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}You're required to learn as you play… roll{% endblock %}

{% block content %}

<section class="lcars-group">
    <div class="lcars-group__left-bar">
        {% include "lcars/_lcars_filler.html" with color="purple" bottom_left_outer_elbow=True only %}
    </div>
    <div class="lcars-group__content">
        <h2 class="lcars-group__content-header">
            You're required to learn as you play… <em class="text-orange">roll!</em>
        </h2>

        <form method="post" class="roll-form">
            {% csrf_token %}

            {% if form.errors %}

            {% for field in form %}
            {% for error in field.errors %}
            <p class="roll-form__error">{{ error|escape }}</p>
            {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
            <p class="roll-form__error">{{ error|escape }}</p>
            {% endfor %}
            {% endif %}


            <div class="roll-form__form">
                {{ form.embargo.label_tag }}
                {{ form.embargo|add_class:'roll-form__input'|attr:'placeholder:Select Date and Time' }}
                <button class="roll-form__submit" type="submit">Roll!</button>
            </div>
        </form>
    </div>
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--bottom">
        {% include "lcars/_lcars_filler.html" with color="purple" bottom_left_inner_elbow=True only %}
    </div>
</section>

<section class="lcars-group">
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--top">
        {% include "lcars/_lcars_filler.html" with color="purple" top_left_inner_elbow=True only %}
    </div>
    <div class="lcars-group__left-bar">
        {% include "lcars/_lcars_filler.html" with color="purple" top_left_outer_elbow=True bottom_left_outer_elbow=True only %}
    </div>
    <div class="lcars-group__content">
        <h2 class="lcars-group__content-header">
            Board as of {{ last_roll.embargo }}
        </h2>

        <p class="lcars-group__text lcars-group__text--center">
            The last roll was a <em>{{ last_roll.number }}</em> It will appear on the site
            <em>{{ last_roll.embargo }}</em> <br /> To delete or edit this (or any other) roll,
            <a href="/admin/will_of_the_prophets/roll/">use the admin site</a>!
        </p>

        {{ board }}

    </div>
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--bottom">
        {% include "lcars/_lcars_filler.html" with color="purple" bottom_left_inner_elbow=True only %}
    </div>
</section>

<section class="lcars-group">
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--top">
        {% include "lcars/_lcars_filler.html" with color="purple" top_left_inner_elbow=True label="SPECIAL SQUARE LEGEND" only %}
    </div>
    <div class="lcars-group__left-bar">
        {% include "lcars/_lcars_filler.html" with color="purple" top_left_outer_elbow=True bottom_left_outer_elbow=True only %}
    </div>
    <div class="lcars-group__content">
        {% include "will_of_the_prophets/board/_legend.html" %}
    </div>
    <div class="lcars-group__horizontal-bar lcars-group__horizontal-bar--bottom">
        {% include "lcars/_lcars_filler.html" with color="purple" bottom_left_inner_elbow=True only %}
    </div>
</section>

{% include "will_of_the_prophets/_footer.html" %}

{% endblock %}

{% block script %}

{% load tz_detect %}
{% tz_detect %}


<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $('.roll-form__input').datetimepicker({
            theme: 'dark',
            format: 'Y-m-d H:i',
        });
    });
</script>

{% endblock %}
