@import "./mixins";

.lcar-group {
  display: grid;
  grid-template-areas:
    "left-bar top-bar top-bar"
    "left-bar content content"
    "left-bar bottom-bar bottom-bar";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  @include cap-variable-widths(
    (
      font-size: 2.5vw
    )
  );
}

.lcar-group + .lcar-group {
  @include cap-variable-widths(
    (
      margin-top: 0.5vw
    )
  );
}

.lcar-group__top-bar {
  grid-area: top-bar;
}

.lcar-group__left-bar {
  display: grid;
  grid-area: left-bar;
  grid-template-rows: 1fr 2fr 1fr 3fr;
  overflow: hidden;

  @include cap-variable-widths(
    (
      grid-gap: 0.5vw,
      border-top-left-radius: 4vw,
      border-bottom-left-radius: 4vw,
      width: 12vw
    )
  );
}

.lcar-group__left-bar .lcar-group__filler {
  text-align: right;
}

.lcar-group__bottom-bar {
  grid-area: bottom-bar;
}

.lcar-group__content {
  grid-area: content;

  @include cap-variable-widths(
    (
      padding: 2vw
    )
  );
}

.lcar-group__content-header {
  text-align: center;
  @include cap-variable-widths(
    (
      font-size: 5.5vw,
      margin-bottom: 2vw
    )
  );
}

.lcar-group__filler {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: $lcars-color-ink;
  @include cap-variable-widths(
    (
      padding: 1vw
    )
  );
}

.lcar-group__filler--yellow {
  background: $lcars-color-orange-peel;
}

.lcar-group__filler--purple {
  background: $lcars-color-lavender-purple;
}

.lcar-group__filler--lilac {
  background: $lcars-color-melrose;
}

.lcar-group__filler--blue {
  background: $lcars-color-dodger-blue-alt;
}
