@import "./mixins";

$content-padding: 2vw;

.lcars-group {
  display: grid;
  grid-template-areas:
    "left-bar top-bar top-bar"
    "left-bar content content"
    "left-bar bottom-bar bottom-bar";
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  @include cap-variable-widths(
    (
      font-size: 2.5vw
    )
  );
}

.lcars-group + .lcars-group {
  @include cap-variable-widths(
    (
      margin-top: 1vw
    )
  );
}

.lcars-group__horizontal-bar--top {
  grid-area: top-bar;
}

.lcars-group__left-bar {
  display: flex;
  flex-direction: column;
  grid-area: left-bar;
  overflow: hidden;

  @include cap-variable-widths(
    (
      grid-gap: 0.7vw,
      width: 12vw
    )
  );
}

.lcars-group__filler {
  text-align: right;
}

.lcars-group__horizontal-bar--bottom {
  grid-area: bottom-bar;
}

.lcars-group__content {
  grid-area: content;

  @include cap-variable-widths(
    (
      padding: 2vw
    )
  );
}

.lcars-group__content-header {
  text-transform: uppercase;
  text-align: center;
  @include cap-variable-widths(
    (
      font-size: 5.5vw,
      margin-bottom: 2vw
    )
  );
}

.lcars-group__text {
  text-transform: uppercase;
  line-height: 1.5;

  @include cap-variable-widths(
    (
      font-size: 3.5vw,
      margin: 2vw 0vw,
      padding: 1vw
    )
  );

  em {
    font-style: normal;
    text-decoration: underline;
  }
}

.lcars-group__text:last-child {
  @include cap-variable-widths(
    (
      margin-bottom: 0vw
    )
  );
}

.lcars-group__text--center {
  text-align: center;
}

.lcars-group__filler {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  color: $lcars-color-ink;
  @include cap-variable-widths(
    (
      padding: 1vw
    )
  );
}

.lcars-group__horizontal-bar .lcars-group__filler:last-child {
  @include cap-variable-widths(
    (
      padding-right: 2vw
    )
  );
}

.lcars-group__filler + .lcars-group__filler {
  @include cap-variable-widths(
    (
      margin-top: 1vw
    )
  );
}

.lcars-group__filler--top-left {
  @include cap-variable-widths(
    (
      border-top-left-radius: 4vw
    )
  );
}

.lcars-group__filler--bottom-left {
  @include cap-variable-widths(
    (
      border-bottom-left-radius: 4vw
    )
  );
}

.lcars-group__filler--yellow {
  background: $lcars-color-atomic-tangerine;
}

.lcars-group__filler--purple {
  background: $lcars-color-lavender-purple;
}

.lcars-group__filler--lilac {
  background: $lcars-color-melrose;
}

.lcars-group__filler--blue {
  background: $lcars-color-dodger-blue-alt;
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--top-left-elbow::after,
.lcars-group__filler--bottom-left-elbow::before,
.lcars-group__filler--bottom-left-elbow::after {
  position: absolute;
  left: 0;
  content: "";

  @include cap-variable-widths(
    (
      height: $content-padding,
      width: $content-padding
    )
  );
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--bottom-left-elbow::before {
  background: inherit;
}

.lcars-group__filler--top-left-elbow::after,
.lcars-group__filler--bottom-left-elbow::after {
  background: $lcars-color-ink;
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--top-left-elbow::after {
  top: 100%;
}

.lcars-group__filler--top-left-elbow::after {
  border-top-left-radius: 100%;
}

.lcars-group__filler--bottom-left-elbow::before,
.lcars-group__filler--bottom-left-elbow::after {
  bottom: 100%;
}

.lcars-group__filler--bottom-left-elbow::after {
  border-bottom-left-radius: 100%;
}
