@import "./mixins";
@import "./variables";

$content-padding: 2vw;

.lcars-filler {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
  color: lcars-color("blue-charcoal");
  @include cap-variable-widths(
    (
      padding: 1vw,
    )
  );
}

.lcars-filler--center {
  justify-content: center;
}

.lcars-group__horizontal-bar .lcars-filler:last-child {
  @include cap-variable-widths(
    (
      padding-right: 2vw,
    )
  );
}

.lcars-group__side-bar .lcars-filler + .lcars-filler {
  @include cap-variable-widths(
    (
      margin-top: 1vw,
    )
  );
}

.lcars-group__horizontal-bar .lcars-filler + .lcars-filler {
  @include cap-variable-widths(
    (
      margin-left: 1vw,
    )
  );
}

.lcars-filler--top-left {
  @include cap-variable-widths(
    (
      border-top-left-radius: 4vw,
    )
  );
}

.lcars-filler--top-right {
  @include cap-variable-widths(
    (
      border-top-right-radius: 4vw,
    )
  );
}

.lcars-filler--bottom-right {
  @include cap-variable-widths(
    (
      border-bottom-right-radius: 4vw,
    )
  );
}

.lcars-filler--bottom-left {
  @include cap-variable-widths(
    (
      border-bottom-left-radius: 4vw,
    )
  );
}

@each $name, $color in $lcars-colors {
  .lcars-filler--#{$name} {
    background: $color;
  }
}

.lcars-filler--top-left-elbow::before,
.lcars-filler--top-left-elbow::after,
.lcars-filler--top-right-elbow::before,
.lcars-filler--top-right-elbow::after,
.lcars-filler--bottom-right-elbow::before,
.lcars-filler--bottom-right-elbow::after,
.lcars-filler--bottom-left-elbow::before,
.lcars-filler--bottom-left-elbow::after {
  position: absolute;
  content: "";

  @include cap-variable-widths(
    (
      height: $content-padding,
      width: $content-padding,
    )
  );
}

.lcars-filler--top-left-elbow::before,
.lcars-filler--top-right-elbow::before,
.lcars-filler--bottom-right-elbow::before,
.lcars-filler--bottom-left-elbow::before {
  background: inherit;
}

.lcars-filler--top-left-elbow::after,
.lcars-filler--top-right-elbow::after,
.lcars-filler--bottom-right-elbow::after,
.lcars-filler--bottom-left-elbow::after {
  background: lcars-color("blue-charcoal");
}

.lcars-filler--top-left-elbow::before,
.lcars-filler--top-left-elbow::after {
  left: 0;
  top: 100%;
}

.lcars-filler--top-left-elbow::after {
  border-top-left-radius: 100%;
}

.lcars-filler--top-right-elbow::before,
.lcars-filler--top-right-elbow::after {
  right: 0;
  top: 100%;
}

.lcars-filler--top-right-elbow::after {
  border-top-right-radius: 100%;
}

.lcars-filler--bottom-right-elbow::before,
.lcars-filler--bottom-right-elbow::after {
  right: 0;
  bottom: 100%;
}

.lcars-filler--bottom-right-elbow::after {
  border-bottom-right-radius: 100%;
}

.lcars-filler--bottom-left-elbow::before,
.lcars-filler--bottom-left-elbow::after {
  left: 0;
  bottom: 100%;
}

.lcars-filler--bottom-left-elbow::after {
  border-bottom-left-radius: 100%;
}
