@import "./mixins";

$content-padding: 2vw;

.lcars-group {
  display: grid;
  grid-template-areas:
    "left-bar top-bar"
    "left-bar content"
    "left-bar bottom-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  @include cap-variable-widths(
    (
      font-size: 2.5vw
    )
  );
}

.lcars-group--double-sidebar {
  grid-template-areas:
    "left-bar top-bar right-bar"
    "left-bar content right-bar"
    "left-bar bottom-bar right-bar";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

.lcars-group + .lcars-group {
  @include cap-variable-widths(
    (
      margin-top: 1vw
    )
  );
}

.lcars-group__horizontal-bar {
  display: flex;
}

.lcars-group__horizontal-bar--top {
  grid-area: top-bar;
}

.lcars-group__side-bar {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include cap-variable-widths(
    (
      grid-gap: 0.7vw,
      width: 12vw
    )
  );
}

.lcars-group__side-bar--left {
  grid-area: left-bar;
}

.lcars-group__side-bar--right {
  grid-area: right-bar;
}

.lcars-group__filler {
  text-align: right;
}

.lcars-group__horizontal-bar--bottom {
  grid-area: bottom-bar;
}

.lcars-group__content {
  grid-area: content;

  @include cap-variable-widths(
    (
      padding: 2vw
    )
  );
}

.lcars-group__content-header {
  text-transform: uppercase;
  text-align: center;
  @include cap-variable-widths(
    (
      font-size: 5.2vw,
      margin-bottom: 2vw
    )
  );
}

.lcars-group__text {
  text-transform: uppercase;
  line-height: 1.5;

  @include cap-variable-widths(
    (
      font-size: 3.5vw,
      margin: 2vw 0vw,
      padding: 1vw
    )
  );

  em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
  }
}

.lcars-group__text:last-child {
  @include cap-variable-widths(
    (
      margin-bottom: 0vw
    )
  );
}

.lcars-group__text--center {
  text-align: center;
}

.lcars-group__filler {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  text-transform: uppercase;
  color: lcars-color("blue-charcoal");
  @include cap-variable-widths(
    (
      padding: 1vw
    )
  );
}

.lcars-group__filler--center {
  justify-content: center;
}

.lcars-group__horizontal-bar .lcars-group__filler:last-child {
  @include cap-variable-widths(
    (
      padding-right: 2vw
    )
  );
}

.lcars-group__side-bar .lcars-group__filler + .lcars-group__filler {
  @include cap-variable-widths(
    (
      margin-top: 1vw
    )
  );
}

.lcars-group__horizontal-bar .lcars-group__filler + .lcars-group__filler {
  @include cap-variable-widths(
    (
      margin-left: 1vw
    )
  );
}

.lcars-group__filler--top-left {
  @include cap-variable-widths(
    (
      border-top-left-radius: 4vw
    )
  );
}

.lcars-group__filler--top-right {
  @include cap-variable-widths(
    (
      border-top-right-radius: 4vw
    )
  );
}

.lcars-group__filler--bottom-right {
  @include cap-variable-widths(
    (
      border-bottom-right-radius: 4vw
    )
  );
}

.lcars-group__filler--bottom-left {
  @include cap-variable-widths(
    (
      border-bottom-left-radius: 4vw
    )
  );
}

@each $name, $color in $lcars-colors {
  .lcars-group__filler--#{$name} {
    background: $color;
  }
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--top-left-elbow::after,
.lcars-group__filler--top-right-elbow::before,
.lcars-group__filler--top-right-elbow::after,
.lcars-group__filler--bottom-right-elbow::before,
.lcars-group__filler--bottom-right-elbow::after,
.lcars-group__filler--bottom-left-elbow::before,
.lcars-group__filler--bottom-left-elbow::after {
  position: absolute;
  content: "";

  @include cap-variable-widths(
    (
      height: $content-padding,
      width: $content-padding
    )
  );
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--top-right-elbow::before,
.lcars-group__filler--bottom-right-elbow::before,
.lcars-group__filler--bottom-left-elbow::before {
  background: inherit;
}

.lcars-group__filler--top-left-elbow::after,
.lcars-group__filler--top-right-elbow::after,
.lcars-group__filler--bottom-right-elbow::after,
.lcars-group__filler--bottom-left-elbow::after {
  background: lcars-color("blue-charcoal");
}

.lcars-group__filler--top-left-elbow::before,
.lcars-group__filler--top-left-elbow::after {
  left: 0;
  top: 100%;
}

.lcars-group__filler--top-left-elbow::after {
  border-top-left-radius: 100%;
}

.lcars-group__filler--top-right-elbow::before,
.lcars-group__filler--top-right-elbow::after {
  right: 0;
  top: 100%;
}

.lcars-group__filler--top-right-elbow::after {
  border-top-right-radius: 100%;
}

.lcars-group__filler--bottom-right-elbow::before,
.lcars-group__filler--bottom-right-elbow::after {
  right: 0;
  bottom: 100%;
}

.lcars-group__filler--bottom-right-elbow::after {
  border-bottom-right-radius: 100%;
}

.lcars-group__filler--bottom-left-elbow::before,
.lcars-group__filler--bottom-left-elbow::after {
  left: 0;
  bottom: 100%;
}

.lcars-group__filler--bottom-left-elbow::after {
  border-bottom-left-radius: 100%;
}
