@import "./mixins";

.legend {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include cap-variable-widths(
    (
      grid-gap: 2vw 1vw
    )
  );
}

.legend__item {
  display: flex;
  @include cap-variable-widths(
    (
      padding: 1vw
    )
  );
}

.legend__item-img {
  grid-area: img;
  object-fit: contain;
  @include cap-variable-widths(
    (
      width: 10vw,
      height: 10vw
    )
  );
}

.legend__item-meta {
  @include cap-variable-widths(
    (
      padding-left: 1vw
    )
  );
}

.legend__item-name {
  grid-area: name;
  text-transform: uppercase;

  @include cap-variable-widths(
    (
      font-size: 4vw,
      margin-bottom: 1vw
    )
  );
}

.legend__item-description {
  grid-area: description;
  color: $lcars-color-lavender-purple;
  line-height: 1.2;
  text-transform: uppercase;
  @include cap-variable-widths(
    (
      font-size: 2.5vw
    )
  );
}
