@import "./mixins";

.login__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;

  label {
    @include cap-variable-widths(
      (
        font-size: 4vw,
      )
    );
  }

  input {
    flex: 1;
    text-align: left;
    @include cap-variable-widths(
      (
        margin-left: 1.5vw,
      )
    );
  }
}

.login__row + .login__row {
  @include cap-variable-widths(
    (
      margin-top: 2vw,
    )
  );
}
