@import "./variables";
@import "./mixins";

$chart-left-margin: 3vw;

.roll-chart {
  position: relative;
  display: flex;
  margin-bottom: 1em;
  @include cap-variable-widths(
    (
      margin-right: 1vw
    )
  );
}

.roll-chart__rules {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;

  @include cap-variable-widths(
    (
      left: $chart-left-margin
    )
  );
}

.roll-chart__rule {
  position: relative;
  flex: 1;
  border-left: 1px solid rgba(white, 0.3);
}

.roll-chart__rule:last-child {
  flex: 0;
  width: 0;
}

.roll-chart__rule-label {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-50%);
}

.roll-chart__bars {
  width: 100%;
}

.roll-chart__bar {
  display: flex;
}

.roll-chart__bar + .roll-chart__bar {
  @include cap-variable-widths(
    (
      margin-top: 2vw
    )
  );
}

.roll-chart__bar-label {
  width: $chart-left-margin;
  text-align: right;

  @include cap-variable-widths(
    (
      padding-right: 1vw
    )
  );
}

.roll-chart__bar-value-wrapper {
  position: relative;
  flex: 1;
  min-height: 100%;
}

.roll-chart__bar-value {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: lcars-color("peach-orange");
}
