$font-family-sans-serif: Helvetica, Arial, "Lucida Grande", sans-serif;
$headings-font-family: "federation";
$lcars-font-family: "lcars";

$site-max-width: 900px;

$lcars-colors: (
  "blue-charcoal": #01080e,
  "peach-orange": #ffcc99,
  "atomic-tangerine": #ff9966,
  "orange-peel": #ff9900,
  "lavender-purple": #9977aa,
  "blue-bell": #999aca,
  "melrose": #9899ff,
  "medium-carmine": #aa5533,
  "chesnut-rose": #cc6666,
  "hopbush": #cc6699,
  "bright-turquoise": #00c3fc,
  "dodger-blue": #5599ff,
  "mariner": #3366cc
);

@function lcars-color($color) {
  @return map-get($lcars-colors, $color);
}
