@charset "utf-8";
@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $lcars-color-ink;
  color: $lcars-color-orange-peel;
  font-family: $lcars-font-family;
  margin: 3vw;
  font-size: 2.5vw;
}

a,
a:visited {
  color: $lcars-color-tng-blue;
}

.no-break {
  white-space: nowrap;
}

@import "./board";
@import "./lcars";
@import "./site";
@import "./legend";
