<div
    class="
        lcars-filler
        lcars-filler--{{color}}
        {% if center %}lcars-filler--center{% endif %}

        {# classes for outer radii #}
        {% if top_left_outer_elbow %}lcars-filler--top-left{% endif %}
        {% if top_right_outer_elbow %}lcars-filler--top-right{% endif %}
        {% if bottom_right_outer_elbow %}lcars-filler--bottom-right{% endif %}
        {% if bottom_left_outer_elbow %}lcars-filler--bottom-left{% endif %}

        {# classes for inner radii #}
        {% if top_left_inner_elbow %}lcars-filler--top-left-elbow{% endif %}
        {% if top_right_inner_elbow %}lcars-filler--top-right-elbow{% endif %}
        {% if bottom_right_inner_elbow %}lcars-filler--bottom-right-elbow{% endif %}
        {% if bottom_left_inner_elbow %}lcars-filler--bottom-left-elbow{% endif %}
    "
>
    {% if label %}
        {{ label }}
    {% endif %}
</div>
