{% load sass_tags %}
{% load static %}

<html>

<head>
    <title>{% block title %}Game of Buttholes: The Will of the Prophets{% endblock %}</title>
    <style>
        @font-face {
            font-family: 'Federation';
            src: url('{% static 'will_of_the_prophets/federation.woff2' %}') format('woff2'),
            url('{% static 'will_of_the_prophets/federation.woff' %}') format('woff');
            font-weight: 500;
            font-style: normal;
        }
    </style>
    <link href="{% sass_src 'will_of_the_prophets/styles/index.scss' %}" rel="stylesheet" type="text/css" />
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% load raven %}
<script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
<script>
    Raven.config('{% sentry_public_dsn %}').install()
</script>
</script>
<script src="{% static 'will_of_the_prophets/buttholes.js' %}"></script>
{% block script %}
{% endblock %}

</html>
