/.env
/.mypy_cache/
/.python-version
/cypress.env.json
/cypress/fixtures/
/cypress/plugins/
/cypress/screenshots/
/cypress/videos/
/db.sqlite3
/node_modules/
/postdeploy-output.txt
/pyrightconfig.json
/staticfiles/
__pycache__
