[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-sass-processor = "*"
pillow = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
libsass = "*"
django-compressor = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pytest-django = "*"
factory-boy = "*"
pytz = "*"
pytest-freezegun = "*"
pytest-mock = "*"
coverage = "*"

[requires]
python_version = "3.6"
