[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-sass-processor = "*"
psycopg2 = "*"
gunicorn = "*"
django-widget-tweaks = "*"
django-tz-detect = "*"
django-model-utils = "*"
django-debug-toolbar = "*"
django-s3direct = "*"
django-csp = "*"
sentry-sdk = "*"
django-feature-policy = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytz = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-cov = "*"
ipython = "*"
libsass = "*"
django-compressor = "*"
black = "==21.11b1"
pylint = "*"
pylint-django = "*"
isort = "*"
pyenchant = "*"
model-bakery = "*"

[requires]
python_version = "3.8"
