[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-heroku = "*"
django-sass-processor = "*"
psycopg2 = "*"
gunicorn = "*"
raven = "*"
django-widget-tweaks = "*"
django-tz-detect = "*"
django-model-utils = "*"
django-debug-toolbar = "*"
django-s3direct = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytz = "*"
pytest-freezegun = "*"
pytest-mock = "*"
pytest-cov = "*"
ipython = "*"
libsass = "*"
django-compressor = "*"
model-mommy = "*"
black = "*"
pylint = "< 2.2"  # https://github.com/PyCQA/pylint-django/issues/201
pylint-django = "*"
isort = "*"

# Remove android from this file once this issue has been addressed.
# https://github.com/PyCQA/pylint-django/issues/201
astroid = "< 2.1"

[pipenv]
allow_prereleases = true  # required for black
