{% load static %}

<div class="starfield board border border-orange">
    <div class="row no-gutters">
        {% for square in squares %}

            <div class="col rounded square
                {% if square.is_current_position or square.butthole_start %}
                    above-butthole
                {% endif %}
                {% if square.special and square.is_current_position %}
                    border border-white
                {% endif %}
                {% if square.special or square.butthole_start %}
                    square-bg-contain
                {% else %}
                    {% if square.number|divisibleby:2 %}
                        square-red
                    {% else %}
                        square-green
                    {% endif %}
                {% endif %}
                "
                {% if square.special or square.butthole_start %}
                    style="background-image:
                    {% if square.special %}
                        url('{{ square.special.image }}')
                    {% endif %}
                    {% if square.butthole_start %}
                        url('{% static 'will_of_the_prophets/butthole_start.png' %}')
                    {% endif %}
                    ;"
                {% endif %}
                {% if square.butthole_start %}
                    id="butthole-start-{{ square.number }}"
                {% endif %}
                {% if square.butthole_ends %}
                    data-buttholes-start-at='[
                        {% for butthole_start in square.butthole_ends %}
                            "butthole-start-{{ butthole_start }}"
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]'
                {% endif %}
                >
                {% if square.is_current_position %}
                    <img class="img-runabout img-fluid above-butthole {% if square.row_reversed %} flip-horizontal{% endif %}" src="{% static 'will_of_the_prophets/runabout.png' %}" alt="Runabout"/>
                {% endif %}
                <p class="square-number
                    {% if square.special or square.butthole_start or square.is_current_position %}
                        invisible
                    {% endif %}
                ">{{ square.number }}</p>
            </div>
            {% if forloop.counter|divisibleby:"10" %}
                </div>
                <div class="row no-gutters">
            {% endif %}
        {% endfor %}
    </div>
</div>
